<html>
<head>
    <title>Notify Jenkins</title>
    <meta name="decorator" content="bitbucket.repository.settings">
    <meta name="projectKey" content="$repository.project.key">
    <meta name="repositorySlug" content="$repository.slug">
    <meta name="activeTab" content="my-web-item-notify-jenkins">
    $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
    $webResourceManager.requireResource("com.mastercard.bitbucket-notify-jenkins:notify-jenkins-repo-resources")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-flag")
</head>
<body>
<div class="aui-page-header-main">
    <h2>Notify Jenkins</h2>
</div>

<form id="pluginConfigForm" class="aui" style="display:none">
    <fieldset class="group">
        <div class="checkbox">
            <input class="checkbox" type="checkbox" name="active" id="active">
            <label for="active">Enabled</label>
        </div>
    </fieldset>

    <span id="selectedJenkinsInstance" style="display:none">{$config ? $config['jenkinsInstance'] : null}</span>
    <div class="field-group">
        <label for="jenkinsInstance">Jenkins Instance</label>
        <select class="select" id="jenkinsInstance" name="jenkinsInstance" title="Jenkins Instances">
            <option></option>
        </select>
        <div class="description">Select the Jenkins instance to notify</div>
    </div>

    <fieldset class="group">
        <legend><span>Jenkins Plugin</span></legend>
        <div class="radio">
            <input class="radio" type="radio" checked="checked"
                   name="targetPlugin" id="targetPluginGit">
            <label for="targetPluginGit">Git</label>
        </div>
        <div class="radio">
            <input class="radio" type="radio"
                   name="targetPlugin" id="targetPluginBranchSource">
            <label for="targetPluginBranchSource">Bitbucket Branch Source</label>
            <div class="description">Select this option when using a Multibranch Pipeline with a Bitbucket branch source.</div>
        </div>
    </fieldset>

    <div class="field-group">
        <label for="cloneUrl">Repo Clone Url</label>
        <strong><span id="cloneUrl" ></span></strong>
        <div class="description">
            <p>Your Jenkins job must use this exact URL when cloning.</p>
            <p>Additionally, you must enable the 'Poll SCM' trigger when using the 'Git' plugin.</p>
        </div>
    </div>

    <div class="buttons-container">
        <div class="buttons">
            <input class="aui-button aui-button-primary" type="submit" id="submit" name="submit" value="Save"
                   accesskey="s">
            <a id="cancel" class="aui-button aui-button-link cancel" name="cancel" accesskey="c" href="/admin"
               autocomplete="off" tabindex="0">Cancel</a>
        </div>
    </div>
</form>
</body>
</html>