<html>
<head>
    <title>Notify Jenkins</title>
    <meta name="decorator" content="bitbucket.repository.settings">
    <meta name="projectKey" content="$repository.project.key">
    <meta name="repositorySlug" content="$repository.slug">
    <meta name="activeTab" content="my-web-item-notify-jenkins">
    $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
    $webResourceManager.requireResource("com.mastercard.bitbucket-notify-jenkins:notify-jenkins-repo-resources")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-flag")
</head>
<body>
<div class="aui-page-header-main">
    <h2>Notify Jenkins</h2>
</div>

<form id="pluginConfigForm" class="aui" style="display:none">
    <fieldset class="group">
        <legend><span>Status</span></legend>
        <div class="checkbox">
            <input class="checkbox" type="checkbox" name="active" id="active">
            <label for="active">Active</label>
            <div class="description">Inactive will not trigger notifications</div>
        </div>
    </fieldset>

    <span id="selectedJenkinsInstance" style="display:none">{$config ? $config['jenkinsInstance'] : null}</span>
    <div class="field-group">
        <label for="jenkinsInstance">Jenkins Instance</label>
        <select class="select" id="jenkinsInstance" name="jenkinsInstance" title="Jenkins Instances">
            <option>Production</option>
        </select>
        <div class="description">Select the Jenkins instance to notify</div>
    </div>

    <div class="field-group">
        <label for="cloneUrl">Repo Clone Url</label>
        <strong><span id="cloneUrl" ></span></strong>
        <div class="description">
            <p>Your Jenkins job must use this exact URL when cloning.</p>
            <p>Additionally, you must enable the 'Poll SCM' trigger.</p>
        </div>
    </div>

    <fieldset class="group">
        <legend><span>Triggers</span></legend>
        <div class="checkbox">
            <input class="checkbox" type="checkbox" name="triggerBranchCreated" id="triggerBranchCreated">
            <label for="triggerBranchCreated">Branch Created</label>
        </div>
        <div class="checkbox">
            <input class="checkbox" type="checkbox" name="triggerBranchDeleted" id="triggerBranchDeleted">
            <label for="triggerBranchDeleted">Branch Deleted</label>
        </div>
        <div class="checkbox">
            <input class="checkbox" type="checkbox" name="triggerFileEdit" id="triggerFileEdit">
            <label for="triggerFileEdit">File Edit</label>
        </div>
        <div class="checkbox">
            <input class="checkbox" type="checkbox" name="triggerPRMerged" id="triggerPRMerged">
            <label for="triggerPRMerged">Pull Request Merged</label>
        </div>
        <div class="checkbox">
            <input class="checkbox" type="checkbox" name="triggerRepoPush" id="triggerRepoPush">
            <label for="triggerRepoPush">Repository Push</label>
        </div>
    </fieldset>

    <div class="buttons-container">
        <div class="buttons">
            <input class="aui-button aui-button-primary" type="submit" id="submit" name="submit" value="Save"
                   accesskey="s">
            <a id="cancel" class="aui-button aui-button-link cancel" name="cancel" accesskey="c" href="/admin"
               autocomplete="off" tabindex="0">Cancel</a>
        </div>
    </div>
</form>
</body>
</html>